<!DOCTYPE html>
<html lang="en">
<%- include('./layouts/head') -%>
<body>
    <!-- the Balance Container Start -->
<div class="balance-main-container">
    <div class="small-nav-container">
        <h3 class="title">Welcome Back  <%= displayname %></h3>
        <div class="dropdown">
            <img  src="/public/assets/images/singupbackground.jpg" alt="Profile Picture" class="profile-picture">
            <div class="dropdown-menu">
                <a href="#part-1"><i class="fas fa-user-circle icon"></i>Account</a>
                <a href="#part-2"><i class="fas fa-bell icon"></i>Notification</a>
                <a href="#part-3"><i class="fas fa-sign-out-alt icon"></i>Log-out</a>
                <a href="#part-4"><%= id %></a>
            </div>
        </div>
    </div>
<div class="balance-container">
    <strong>Balance</strong>
    <div class="balance-short">
        <h2 class="balance-value title">
            <%= amount %><sup>DH</sup>
        </h2>
        <div class="transaction-container">
            <button href="/scan" class="transaction-btt title" data-tooltip="Scan" data-placement="bottom"><i class="fas fa-qrcode"></i></button>
            <button id="open" class="transaction-btt title" data-tooltip="Send Money" data-placement="bottom"><i class="fas fa-arrow-up"></i></button>
            <button href="/deposit" class="transaction-btt title" data-tooltip="Deposit" data-placement="bottom"><i class="fas fa-plus"></i></button>
        </div>
    </div>
</div>
</div>
<!-- the Balance Container end -->
<!-- the History box Start -->
<div class="history-squeez">
<div class="history-main-container">
    <div class="banner">
        <button  class="transaction-btt title" data-tooltip="Download Your Invoice" data-placement="top"><i class="fas fa-file-invoice-dollar"></i></button>
    </div>
    <hr>
    <div class="history-container">
        <ul class="list-style">
            <% history.forEach(history => { %>
                    <li><%= history.where %> <i class="fas fa-receipt icon-style"></i></li>
                <%})%>
        </ul>
    </div>
</div>
</div>
<!-- the History box End -->
<dialog id="modal-example" close="close">
    <article>
        <a href="#close" aria-label="Close" class="close" data-target="modal-example" id="Close"></a>
        <h3>Send Money</h3>
        <p>
        <form action="/send" method="post">
           <label for="userId">
               Receiver
              <input type="text" name="appid" id="userId" placeholder="A123456789">
           </label>
        <label for="amount">
              Amount
            <input type="number" name="amount" id="amount" placeholder="amount...">
        </label>
        </form>
        </p>
        <footer>
            <a href="#cancel" role="button" class="secondary" data-target="modal-example" id="Close">
                cancel
            </a>
            <a href="#confirm" role="button" data-target="modal-example" id="addtask">
                Send
            </a>
        </footer>
    </article>
</dialog>
<!-- UI interaction  -->
<script src="/public/javascript/dashui.js"></script>
</body>
</html>